<h2>Upload an image to this dataset</h2>
<label class="image-upload-container btn btn-bwm">
    <span>Select Image</span>
    <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
</label>

<div *ngIf="selectedFile" class="img-preview-container">

    <img *ngIf="selectedFile.status === 'ok'" src="{{selectedFile.src}}" />

    <div *ngIf="selectedFile.pending" class="img-loading-overlay">
        <div class="img-spinning-circle"></div>
    </div>

    <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Successful!</div>
    <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
</div>